[submodule "ros_ws/src/isaac_ros_common"]
	path = ros_ws/src/isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common.git
[submodule "ros_ws/src/px4/px4_msgs"]
	path = ros_ws/src/px4/px4_msgs
	url = git@github.com:dev10110/px4_msgs.git
[submodule "ros_ws/src/px4/vicon_px4_bridge"]
	path = ros_ws/src/px4/vicon_px4_bridge
	url = git@github.com:dasc-lab/vicon_px4_bridge.git
[submodule "ros_ws/src/realsense-ros"]
	path = ros_ws/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "ros_ws/src/ros2-vicon-bridge"]
	path = ros_ws/src/ros2-vicon-bridge
	url = https://github.com/dasc-lab/ros2-vicon-bridge.git
[submodule "ros_ws/src/dasc_ros_nvblox"]
	path = ros_ws/src/dasc_ros_nvblox
	url = git@github.com:dasc-lab/dasc_ros_nvblox.git
[submodule "ros_ws/src/eigen/eigen_3_3_7/eigen"]
	path = ros_ws/src/eigen/eigen_3_3_7/eigen
	url = https://gitlab.com/libeigen/eigen.git
